.admin {
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-flow: row wrap;
	    flex-flow: row wrap;
	padding: 60px 5%;
}

	.admin--title {
		width: 100%;
		text-align: left;
		font-size: 40px;
		color: rgba(0,0,0,.87);
		padding: 20px 0;
		font-weight: 700;
	}

	.admin-menu {
		width: 100%;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
        padding: 40px 40px 80px;
        border: 1px solid #e7e7e7;
        border-radius: 5px;
        position: relative;
	}

		.admin-menu--add {
			width: 150px;
		}

		.admin-menu--view {
			position: absolute;
			width: 50px;
			padding: 10px;
			right: 30px;
			border: 1px solid #ddd;
			background: #f6f6f6;
			border-radius: 3px;
			cursor: pointer;
			transition: .3s ease-out;
		}
		.admin-menu--view:hover {
			background: #e9e9e9;
			transition: .3s ease-in;
		}
		.admin-menu--view.first {
			right: 90px;
		}
			.admin-menu--view img {
				width: 100%;	
			}
		.admin-menu--select {
			margin-left: 30px;
			width: 150px;
		}
		.menu-table {
			width: 100%;
			background: #fff;
			margin-top: 30px;
			border-left: 1px solid #ddd;
			border-radius: 5px;
		}

		.menu-products.full__admin {
			width: 100%;
			padding-left: 0% !important;
		}

		.admin-menu--card {
			margin-top: 40px;
			width: 100%;
			display: -ms-flexbox;
			display: flex;
			-ms-flex-flow: row wrap;
			    flex-flow: row wrap;
		}

			.menu-table--row {
				width: calc(100% - 100px);
				display: -ms-flexbox;
				display: flex;
				-ms-flex-flow: row wrap;
				    flex-flow: row wrap;
				position: relative;
			}
			.menu-table--row.first {
				background: rgba(78, 124, 207, 1);
				color: #fff;
				font-size: 18px;
				border-top-left-radius: 5px;
				border-top-right-radius: 5px;
			}

			.menu-table--row.first .row--item {
				padding: 20px 30px;
			}
				.row--item {
					width: calc(100% / 5);
					text-align: center;
					/*padding: 20px;*/
					border-right: 1px solid #ddd;
					border-bottom: 1px solid #ddd;
					font-size: 16px;
				}

				.row--item.img {
					position: absolute;
					width: 45px;
					right: -50px;
					background: rgba(78, 124, 207, 1);
					color: #fff;
					padding: 15px;
					transition: .3s ease-out;
					cursor: pointer;
					border-top: 1px solid #ddd; 
					border-radius: 3px;
				}
				.row--item.img:hover {
					background: rgba(61, 156, 184, 1);
					transition: .3s ease-in;
				}
				.row--item.img.last {
					right: -100px;
				}

				.row--item.img.ok {
					display: none;
					text-align: center;
					padding: 15px;
					width: auto;
					right: -58px;
				}
				
				.row--item.img.cancel {
					display: none;
					text-align: center;
					padding: 15px;
					width: auto;
					right: -138px;
				}

					.row--item.img img {
						width: 100%;
					}
@media screen and (max-width: 1439px) {
	.admin {
		padding: 60px 1%;
	}
}
	@media screen and (max-width: 1350px) {
		.admin-menu {
			padding: 40px 10px 80px;
	}
}