.aside {
	width: 75%;
	top: 0;
	bottom: 0;
	position: fixed;
	background-color: rgba(255, 255, 255, 1);
	z-index: 5;
	left: -75%;
	transition: .2s ease-out;
}
	
	.aside-inner {
		position: relative;
		width: 100%;
		height: 100%;
	}
		.aside-logo {
			width: 70%;
			display: block;
			margin: 10% auto;
			margin-bottom: 0;
		}

		.aside-list {
			display: block;
			list-style: none;
			box-sizing: border-box;
			text-transform: uppercase;
			font-size: 15px;
			font-weight: 700;
			color: rgba(0, 0, 0, .54);
			padding: 10px 20px;
			border-bottom: 1px solid rgba(0, 0, 0, .3);
			transition: .2s ease-in;
		}

			.aside-list:active {
				background-color: rgba(0, 0, 0, .3);
			}

			.aside-list__active {
				color: rgba(78, 178, 207, 1);
			}

		.aside-contacts--title {
			display: block;
			text-align: center;
			font-size: 14px;
			color: rgba(0, 0, 0, .74);
			padding: 20px;
		}

		.aside-contacts--phone {
			display: block;
			margin-bottom: 20px;
			font-size: 13px;
			text-align: center;
			font-weight: 700;
			color: rgba(0, 0, 0, .74);
		}
		.aside-contacts--phone > a{
			text-decoration: none;
			color: rgba(0, 0, 0, .74);
		}
		.aside-contacts--address {
			display: block;
			font-size: 14px;
			text-align: center;
			color: rgba(0, 0, 0, .74);
		}
/*
	.aside-list:first-child {
		margin-top: 10px;
	}*/