.btn {
	display: block;
	border-radius: 4px;
	white-space: nowrap;
	padding: 10px 30px;
	text-transform: uppercase;
	font-size: 16px;
	cursor: pointer;
	outline: none;
}

	.btn__main {
		transition: .3s ease-out;
		color: #fff;
		background: transparent;
		border: 3px solid #fff;
		border-radius: 30px;
		padding-top: 15px;
		padding-bottom: 15px;
		font-weight: 700;
	}

	.admin__add,
	.admin__filter {
		background: rgba(78, 124, 207, 1);
		color: #fff;
		border: none;
		padding: 15px 40px;
		transition: .3s ease-out;
		font-size: 14px;
	}
	
	.admin__filter {
		margin-left: 60px;
	}

	.admin__add:hover {
		background: rgba(61, 156, 184, 1);
		transition: .3s ease-in;
	}
	
	.btn__modal {
		display: block;
		margin: 0 auto;
		color: #fff;
		background-color: rgba(78, 124, 207, 1);
		border: none;
		cursor: pointer;
	}

@media screen and (max-width: 449px) {
	.btn {
		font-size: 11px;
		padding: 10px 20px;
	}	

}