.delivery {
	padding: 60px 5%;
}

	.delivery--title {
		display: block;
		font-size: 2rem;
		padding: 1rem 0;
		text-align: center;
	}

	.delivery-inner {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: justify;
		    justify-content: space-between;
		padding-top: 30px;
	}

		.delivery-info {
			padding: 40px 0;
		}
			
			.delivery-info--title {
				font-size: 20px;
				font-weight: 700;
				color: rgba(0, 0, 0, .87);
				display: block;
			}

			.delivery-content {
				display: -ms-flexbox;
				display: flex;
				padding-top: 30px;
			}

				.delivery-content--circle {
					display: inline-block;
					width: 50px;
					height: 50px;
					border-radius: 50%;
				}

				.circle__first {
					background-color: #ed190b;
				}
				
				.circle__second {
					background-color: #34a852;
				}
				
				.circle__third {
					background-color: #ccbdde;
				}
				
				.circle__fourth {
					background-color: #ffc107;
				}
				
				.circle__fifth {
					background-color: #03a9f4;
				}
				

				.delivery-content--title {
					font-size: 15px;
					color: rgba(0, 0, 0, .87);
					padding: 10px 0;
					margin-left: 20px;
				}

		.delivery-map {
			width: calc(100% - 275px);
			margin-left: 30px;
		}		
@media screen and (max-width: 768px) {
	.delivery {
		padding: 0 5%;
	}
		.delivery-inner > div {
			margin-bottom: 60px;
			-ms-flex-wrap: wrap;
			    flex-wrap: wrap;
		}
		.delivery--title {
			display: none;
		}
		
		.delivery-info {
			padding: 0;
			width: 100%;
		}

			.delivery-info--title {
				text-align: center;
			}

		.delivery-map {
			width: 100%;
			height: 400px;
			margin-left: 0;
		}		
		
			
}				