.floating-button {
	position: fixed;
	width: 60px;
	height: 60px;
	background-color: rgba(78, 178, 207, 1);
	z-index: 4;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	    align-items: center;
	-ms-flex-pack: center;
	    justify-content: center;
	bottom: 50px;
	right: 30px;
	text-align: center;
	border-radius: 50%;
	box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px rgba(0,0,0,.14), 0 1px 18px rgba(0,0,0,.12);
	outline: none;
	display: none;
}

	.floating-button:active {
		box-shadow: 0 7px 8px -4px rgba(0,0,0,.2), 0 12px 17px 2px rgba(0,0,0,.14), 0 5px 22px 4px rgba(0,0,0,.12);
	}

	.floating-button > img {
		width: 50%;
		height: 50%;
	}

@media screen and (max-width: 768px) {
	.floating-button {
		display: -ms-flexbox;
		display: flex;
	}
}	