.flow {
	padding-top: 70px;
	background-color: rgba(249, 249, 249, 1);
	text-align: center;
}

	.flow--title {
		font-size: 2rem;
		color: rgba(0,0,0, .87);
		padding: 20px;
	}

	.flow--subtitle {
		font-size: 15px;
		color: rgba(0,0,0,.74);
		padding: 20px;
		padding-top: 0;
	}

	.flow-inner {
		max-width: 900px;
		margin: 0 auto;
		margin-top: 60px;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
	}

		.flow-item {
			width: 290px;
			margin-bottom: 40px;
		}
			.flow-item--image {
				text-align: center;
				width: 150px;
				height: 150px;
				margin: 0 auto;
				background-color: #ededed;
				border-radius: 50%;
				box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
			}

				.flow-item--image img {
					width: 100px;
					margin-top: 25px;
				}

			.flow-item--title {
				display: block;
				padding: 20px 0;
				line-height: 1.2;
				color: rgba(0, 0, 0, .74);
			}

			.flow--callback {
				font-size: .75em;
				text-transform: uppercase;
				font-weight: 700;
				padding: 10px 20px;
				margin-bottom: 60px;
				background-color: rgba(78, 178, 207, 1);
				border: 1px solid rgba(78, 178, 207, 1);
				color: rgba(255, 255, 255, 1);
				outline: none;
				border-radius: 20px;
				box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
				cursor: pointer;
			}

				.flow--callback:hover {
					background-color: rgba(78, 178, 207, .9);
				}	