.header {
	width: 100%;
	display: -ms-flexbox;
	display: flex;
	padding: 0 5%;
	height: 70px;
	background-color: rgba(195, 150, 150, 1);
	display: flex;
	-ms-flex-pack: justify;
	    justify-content: space-between;
	position: fixed;
	z-index: 4;
}

	.logo {
		padding: 6px 20px;
	}
		.logo-img {
			width: 60px;
		}

	.nav {
		font-size: 0;
		padding: 27px 20px;
	}	

		.nav-list {
			list-style: none;
			display: inline-block;
			font-size: 16px;
			color: rgba(255, 255, 255, .97);
			margin: 0 15px;
			padding: 0 5px 3px;
			cursor: pointer;
			font-weight: 700;
		}
			
			.nav-list__active {
				border-bottom: 2px solid rgba(255, 255, 255, .97); 
			}

			.nav-list a {
				text-decoration: none;
				color: rgba(255, 255, 255, .97);
			}

		

	.header-basket {
		padding: 0 20px;
	}
		.header-basket-inner {
			padding: 19.5px;
			position: relative;
		}
			.header-basket-inner img {
				width: 25px;
				cursor: pointer;
			}

			.header-basket-counter {
				position: absolute;
				color: rgba(255, 255, 255, .97);
				background-color: rgba(78, 178, 207, 1);
				padding: 4px 7px;
			    border-radius: 50%;
			    font-size: 11px;
			    font-weight: 700;
			    left: 7px;
    			top: 15px;
			}

	/* mobile version */
	.header-mobile {
		width: 100%;
		height: 100%;
		position: relative;
		text-align: center;
		display: none;
	}

		.menu-dropdown {
			line-height: 60px;
			color: rgba(255, 255, 255, 1);
			font-weight: 700;
			text-transform: uppercase;
			display: inline-block;
			margin: 0 auto;
		}
			.menu-dropdown--caret {
				width: 10px;
				position: relative;
				top: -1.5px;
				margin-left: 5px;
				transition: .2s ease-out;
			}

			.menu-dropdown--caret__open {
				transform: rotate(180deg);
			}

		.header-menu {
			width: 30px;
			position: absolute;
			top: 15px;
			left: 0;
		}
		
		.header-mobile-basket {
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
		}
			.header-mobile-basket > div {
				position: relative;
			}

			.header-mobile-basket-counter {
				    position: absolute;
				    color: rgba(255, 255, 255, .97);
				    background-color: rgba(78, 178, 207, 1);
				    padding: 4px 7px;
				    border-radius: 50%;
				    font-size: 11px;
				    font-weight: 700;
				    left: -8px;
    				top: 13px;
			}

			.header-mobile-basket img {
				height: 30px;
				margin: 15px 0;
			}	
@media screen and (max-width: 768px) {
	
	.header {
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		height: 60px;
	}
	.logo, .nav, .header-basket {
		display: none;
	}

	.header-mobile {
		display: block;
	}
}					