.menu-mobile {
	display: none;
	position: fixed;
	width: 100%;
	top: 60px;
	background-color: #fff;
	z-index: 3;
	transition: .2s ease-out;
	animation: modalZoom .3s ease-out 1 alternate;
}

.menu-mobile-list--item {
	list-style: none;
	display: block;
	color: rgba(0, 0, 0, .74);
	font-size: 15px;
	text-transform: uppercase;
	padding: 10px 5%;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.menu-mobile-list--item:active {
	background-color: rgba(0, 0, 0, .1);
}

@keyframes menuZoom{
	0% {
		transform: scale(1.5);
        -webkit-transform: scale(1.5);
	},
	100% {
		transform: scale(1.0);
        -webkit-transform: scale(1.0);
	}
}