.menu {
	padding: 3rem 5%;
}

	.menu-title,
		.menu-subtitle {
			display: block;
			width: 100%;
			text-align: center;
		}


	.menu-title {
		font-size: 2rem;
		color: rgba(0,0,0,.87);
		padding: 1rem 0;
		font-weight: 700;
	}

	.menu-subtitle {
		font-size: 16px;
		color: rgba(0,0,0,.74);
		padding-bottom: 4rem;
	}

	.menu-inner {
		display: -ms-flexbox;
		display: flex;
	}
	.menu-list {
		padding: 0 20px;
		width: 270px;
	}

		.menu-list--item {
			color: rgba(0,0,0,.54);
			list-style: none;
			font-size: 20px;
			text-transform: uppercase;
			padding-bottom: 30px;
			cursor: pointer;
		}

			.menu-list--item__link {
				font-size: 16px;
				text-transform: unset; 
			}

				.menu-list--item__link a {
					color: rgba(78, 178, 207, 1);
				}

	.menu-products {
		display: -ms-flexbox;
		display: flex;
		-ms-flex-pack: distribute;
		    justify-content: space-around;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		width: 100%;
		padding-left: 10%;
		margin-bottom: auto;
	}

		.product-item {
			width: 27%;
			min-width: 270px;
			max-width: 270px;
			position: relative;
			box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
			padding-bottom: 40px;
			transition: .2s ease-in;
			margin-bottom: 60px;
			overflow: hidden;
			position: relative;
		}

		/*.product-item:hover .product-item--button {
			display: flex;
		}*/
			.product-item:hover {
				box-shadow: 0 4px 5px -2px rgba(0,0,0,.2), 0 7px 10px 1px rgba(0,0,0,.14), 0 2px 16px 1px rgba(0,0,0,.12);
			}

			.product-item--image {
				text-align: center;
				height: 180px;
			}
				.product-item--image img {
					width: 100%;
					height: 100%;
				}

			.product-item-info {
				padding: 1rem;
				text-align: center;
			}
				.product-item--title,
					.product-item--portion,
						.product-item--price,
							.product-item--composition {
								display: block;
								text-transform: uppercase;
								padding-bottom: 1rem;
								font-weight: 700;
				}

				.product-item--title {
					color: rgba(0,0,0,.87);
				}

				.product-item--portion {
					color: rgba(0,0,0,.74);
					font-size: 13px;
				}

				.product-item--price {
					color: rgba(78, 178, 207, 1);
				}

				.product-item--composition {
					color: rgba(0,0,0,.54);
					font-size: 12px;
					line-height: 1.5;
					font-weight: normal;
					text-transform: unset;
					font-style: italic;
				}

			.product-item--button {
				position: absolute;
				width: 100%;
				height: 40px;
				font-size: 13px;
				background-color: rgba(78, 178, 207, 1);
				bottom: 0;
				left: 0;
				border: none;
				text-transform: uppercase;
				color: #fff;
				font-weight: 700;
				cursor: pointer;
				text-align: center;
				display: -ms-flexbox;
				display: flex;
				-ms-flex-pack: center;
				    justify-content: center;
				-ms-flex-align: center;
				    align-items: center;
			}
				.product-item--button:hover {
					background-color: rgba(78, 178, 207, .9);
				}

				.product-item--button:active {
					background-color: rgba(78, 178, 207, 1);
				}

			.product-item--button img {
				width: 20px;
				margin-right: 10px;
				position: relative;
				bottom: 1px;
			}


				.product-item--counter {
					position: absolute;
					width: 100%;
					background-color: #fff;
					z-index: 2;
					height: 40px;
					font-size: 15px;
					font-weight: 700;
					bottom: -40px;
					left: 0;
					transition: .3s ease-out;
					display: -ms-flexbox;
					display: flex;
					-ms-flex-pack: center;
					    justify-content: center;
					padding-top: 2px;
				}		

				.product-item--decrement,
					.product-item--increment {
						height: 30px;
						width: 40px;
						text-align: center;
	    				border: 1px solid rgba(78, 178, 207, 1);
	    				color: rgba(78, 178, 207, 1);
	    				cursor: pointer;
	    				background-color: #fff;
	    				outline: none;
					}

				.product-item--decrement {
	    			border-radius: 5px 0px 0px 5px;
				}	

				.product-item--increment {
					border-radius: 0px 5px 5px 0;
				}

				.product-item--amount {
					color: rgba(78, 178, 207, 1);
					height: 30px;
					line-height: 30px;
					border-top: 1px solid  rgba(78, 178, 207, 1);
					border-bottom: 1px solid  rgba(78, 178, 207, 1);
					padding: 0 15px;
				}

				.product-item--edit {
					position: absolute;
					width: 40px;
					padding: 13px;
					top: 0px;
					right: 0;
					background: rgba(78, 124, 207, 1);
					border-radius: 3px;
					cursor: pointer;
				}

				.product-item--edit.first {
					right: 45px;
					top: 0px;
					position: absolute;
				}
					.product-item--edit img {
						width: 100%;
					}


@media screen and (max-width: 768px) {
	.menu-list {
		display: none;
	}

	.menu-products {
		padding-left: 0;
	}
}				