.refs {
	width: 100%;
	position: relative;
	padding: 70px 0 70px;
	background-color: rgba(249, 249, 249, 1);

}
	.refs--title {
		width: 100%;
		text-align: center;
		font-size: 2rem;
	}

	.refs--grid {
		width: 100%;
		display: -ms-flexbox;
		display: flex;
		-ms-flex-flow: row wrap;
		    flex-flow: row wrap;
		-ms-flex-pack: center;
		    justify-content: center;
		padding: 40px 10% 0;
	}

		.refs--grid--item {
			width: calc(100% / 4);
			display: -ms-flexbox;
			display: flex;
			-ms-flex-flow: row wrap;
			    flex-flow: row wrap;
			-ms-flex-pack: center;
			    justify-content: center;
		}

			.item--img {
				width: 50px;
				padding: 10px;
				display: block;
				margin-right: 10px;
				-ms-flex-order: -1;
				    order: -1;

			}

				.item--img img {
					width: 100%;
				}
				

			.item--text {
				/*width: calc(100% - 50px);*/
				font-size: 22px;
				display: -ms-flexbox;
				display: flex;
				/*justify-content: center;
				align-items: center*/;
				text-align: center;
				cursor: pointer;
			}

				.item--text a {
					width: 100%;
					height: 100%;
					color: #333;
					text-decoration: none;
					display: -ms-flexbox;
					display: flex;
					-ms-flex-pack: center;
					    justify-content: center;
					-ms-flex-align: center;
					    align-items: center;
					transition: .3s ease-out;
				}

				.item--text:hover + .item--img  {
					/*background: yellow;*/
					animation: .4s grimjowJaggerJack infinite;
				}

				.item--text:hover a {
					color: rgba(78, 178, 207, 1);
				}
				@keyframes grimjowJaggerJack {
				  0% {transform: rotate(-15deg)}
				  25% {transform: rotate(0deg)} 
				  50% {transform: rotate(15deg)}				
				  75% {transform: rotate(0deg)}
				  100% {transform: rotate(-15deg)}
				}


@media screen and (max-width: 1350px) {
	.refs--grid {
		padding: 40px 5% 0;
	}

		.item--text {
			font-size: 19px;
		}
}

	@media screen and (max-width: 1023px) {
		.refs--title {
			/*font-size: 40px;	*/
		}
		.refs--grid {
			padding: 40px 0% 0;
		}
	}

		@media screen and (max-width: 767px) {
			.refs--title {
				/*font-size: 35px;*/
				line-height: 1.2;
			}


			.refs--grid {
				padding-top: 20px;
			}

				.refs--grid--item {
					width: 250px;
					-ms-flex-pack: initial !important;
					    justify-content: initial !important;
					margin-left: 10%;
				}
		}

			@media screen and (max-width: 449px) {
				.refs--title {
					/*font-size: 29px;*/
				}

			}