.select {
	width: 100%;
	padding: 10px 30px;
	outline: none;
	font-size: 16px;
	cursor: pointer;
}

.admin__select {
	background: #fff;
	color: #333;
	border: 1px solid #999;
	text-align: center;
	transition: .3s ease-out;
	padding-right: 30px;
	height: 47px;
	width: 200px;
}

.admin__slct {
	background: transparent;
	color: rgba(51, 51, 51, 0.71);
	text-align: center;
	/*transition: .3s ease-out;*/
	padding: 30px;
	height: 60px;
	border: none;
	pointer-events: none;	
}

.active {
	pointer-events: auto;	
	color: rgba(61, 156, 184, 1);
}