.textarea {
	width: 100%;
	outline: none;
	border: none;
	padding: 10px 30px;
	font-size: 16px;
	white-space: nowrap;
	display: block;
	resize: none;
}

.admin__txt {
	padding: 15px;
	pointer-events: none;
	background: transparent;
}
.active {
	pointer-events: auto;
	color: rgba(61, 156, 184, 1);
}