.basket {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 10;
	animation: basketZoom .3s ease-in-out 1 alternate;
	display: none;
}

	.basket-inner {
		width: 100%;
		height: 100%;
		position: relative;
	}

		.basket-backdrop {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 1;
			background-color: rgba(0, 0, 0, .6);
		}

		.basket-wrap {
			max-width: 700px;
			margin: 0 auto;
			padding-top: 5rem;
			position: relative;
			z-index: 2;
		}	

			.basket-empty {
				display: none;
				padding: 5rem 0;
				color: #C39696;
				font-size: 3rem;
				text-align: center;
			}
			.basket-wrap .basket-close {
				position: absolute;
				z-index: 10;
				font-size: .75rem;
				font-weight: 700;
				right: 0;
				top: 6rem;;
				right: 1rem;
				color: rgba(78, 178, 207, .5);
				cursor: pointer;
			}
			.basket-wrap > div {
				padding: 3rem 1rem;
				position: relative;
				border-radius: 7px;
				max-height: calc(100vh - 5rem);
				overflow-y: auto;
			}

			.basket-first {
				background-color: #fff;
			}
				.basket-first-item {
					position: relative;
					display: flex;
					/*align-items: center;*/
					padding: 0 1rem;
					padding-bottom: 1rem;
					border-bottom: 1px solid rgba(78, 178, 207, .5);
					margin-bottom: 1rem;
				}	
					.basket-first-item--close {
						width: .75rem;
						position: absolute;
						top: 3px;
						left: -3px;
						cursor: pointer;
					}
					.basket-first-item--img {
						max-width: 150px;
						max-height: 100px;
						height: auto;
						display: flex;
    					align-items: center;
					}
						.basket-first-item--img > img {
							width: 100%;
							height: 100%;
						}

					.basket-first-item-info {
						display: flex;
						width: 100%;
						justify-content: space-between;
						/*flex-wrap: wrap;*/
					}
						.basket-first-item-info > div {
							padding: 0 1rem;
						}
						.basket-first-item--title {
							display: block;
							font-size: .75rem;
							line-height: 1.2;
							color: rgba(0, 0, 0, .87);
							font-weight: 700;
							text-transform: uppercase;
						}

						.basket-first-item--subtitle {
							display: block;
							font-size: .6rem;
							line-height: 1.5;
							padding-top: 5px;
							color: rgba(0, 0, 0, .54);
							font-weight: 700;
							text-transform: uppercase;
						}

						.basket-first-item--counter {
							display: flex;
							align-items: center;
							font-weight: 700;
							padding: .25rem 0;
						}

							.basket-first-item--increment,
								.basket-first-item--decrement {
									height: 1rem;
									width: 1.5rem;
									text-align: center;
				    				border: 1px solid rgba(78, 178, 207, 1);
				    				line-height: 1rem;
				    				font-size: .75rem;
				    				color: rgba(78, 178, 207, 1);
				    				cursor: pointer;
				    				background-color: #fff;
				    				outline: none;
								}


							.basket-first-item--decrement {
								border-radius: 10px 0px 0px 10px;
							}	

							.basket-first-item--increment {
								border-radius: 0px 10px 10px 0;
							}

							.basket-first-item--amount {
								color: rgba(78, 178, 207, 1);
								height: 1rem;
								line-height: 1rem;
								font-size: .75rem;
								border-top: 1px solid  rgba(78, 178, 207, 1);
								border-bottom: 1px solid  rgba(78, 178, 207, 1);
								padding: 0 .75rem;
							}

							.basket-first-item--price {
								font-size: .75rem;
								color: rgba(0, 0, 0, .87);
								font-weight: 700;
								text-align: center;
								padding: 1rem 0;
							}
				
				.basket-first-buy {
					padding: 1rem 0;
					font-weight: 700;
				}

					.basket-first--total-price {
						font-size: 1rem;
						display: block;
						margin-bottom: 1rem;
						color: rgba(100, 127, 136, 1);
					}

						.basket-first--btn-buy {
							padding: .5rem 2rem;
							font-size: 16px;
							font-weight: 700;
							background-color: rgba(78, 178, 207, 1);
							border: none;
							outline: none;
							color: #fff;
							border-radius: 1rem; 
							text-transform: uppercase;
							transition: .2s ease-in;
							cursor: pointer;
						}
						.basket-first--btn-buy.confirm {
							font-size: 15px;
							display: inline-block;
						}

							.basket-first--btn-buy:hover {
								background-color: rgba(78, 178, 207, .8);
							}

							.basket-first--btn-buy:active {
								background-color: rgba(78, 178, 207, 1);
							}


.basket-second-title {
	padding: 0 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.basket-second-title span {
	line-height: 2.5rem;
	color: rgba(78, 178, 207, 1);
	font-size: 1rem;
}

.basket-second-title img {
	width: 3rem;
}

.basket-products {
	padding-top: 20px;
	padding-left: 2rem;
}

.basket-products h2 {
	line-height: 2.5rem;
	color: rgba(78, 178, 207, 1);
	font-size: 0.8rem;
}

.basket-products-item {
	display: flex;
	flex-flow: row wrap;
	padding: 5px 0;
	width: 80%;
}

.basket-products-item span {
	font-size: .7rem;
	line-height: 1rem;
	color:  rgba(104,105,105,1);
}

.basket-products-item span:first-child {
	width: 250px;
}

.basket-products-item span:nth-child(2) {
	width: 100px;
}

.basket-products-item span:last-child {
	width: 100px;
}

.basket-third {
	padding: 2rem 1rem;
	display: flex;
	justify-content: center;
	flex-flow: row wrap;
	
}

.basket-third img {
	width: 10rem;
    height: 10rem;
    margin-bottom: 20px;
}

.basket-third span {
	color: rgba(36, 83, 97, 1);
	font-size: 1rem;
	display: block;
    width: 100%;
    text-align: center;
    line-height: 1.5rem;
}

.basket-slider {
	width: 240px;
	margin: 0 auto;
	display: flex;
}

.basket-slider div {
	width: 33.333%;
	text-align: center;
}

.basket-slider i {
	width: 30px;
	height: 30px;
	line-height: 30px;
	border-radius: 100%;
	border: 1px solid rgba(78, 178, 207, 1);
	color: rgba(78, 178, 207, 1);
	display: block;
    margin: 0 auto;
    font-size: 0.6rem;
}

.basket-slider i.active { 
	background-color: rgba(78, 178, 207, 1);
	color: #fff;
}

.basket-slider span {
	color: rgba(78, 178, 207, 1);
	font-size: 0.6rem;
}

@media screen and (max-width: 768px) {
	.basket-wrap {
		padding: 0;
		min-height: 100vh;
		font-weight: 700;
	}
	
	.basket-wrap .basket-close {
		top: 1.5rem;;
	}

		.basket-first-item-action {
			display: flex;
			align-items: center;
		}

		.basket-wrap > div {
			height: 100%;
			border-radius: 0;
			height: 100vh;
			max-height: 100vh;
		}

		.basket-first-item-info {
			flex-wrap: wrap;
		}

		.basket-first-item-info > div {
			width: 100%;
		}

		.basket-first-item--price {
			text-align: left;
			padding: .25rem 1rem;
		}

}			

@keyframes basketZoom{
	0% {
		transform: scale(1.5);
        -webkit-transform: scale(1.5);
	},
	100% {
		transform: scale(1.0);
        -webkit-transform: scale(1.0);
	}
}