.comments {
	padding: 3rem 0;
	background-color: rgba(78, 178, 207, 1);
}
	.comments--title {
		display: block;
		text-align: center;
		text-transform: uppercase;
		color: rgba(255, 255, 255, 1);
		font-size: 1.5rem;
	}

	.comments-inner {
		margin-top: 2rem;
		padding: 0 5%;
		width: 100%;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		position: relative;
	}
	
		.comments-inner--item {
			width: 20rem;	
		}
			.comments-inner--description {
				width: 100%;
				color: #fff;
				font-size: 16px;
				line-height: 23px;
				font-style: italic;
				margin-bottom: 5rem;
			}
			
			
			.comments-inner--arrow {
				width: 60px;
				padding: 10px;
				cursor: pointer;
			}
				.comments-inner--arrow img {
					width: 100%;
				}
			.comments-inner--arrow.left {
				position: absolute;
				left: 5rem;
				top: 3rem;
			}
				.comments-inner--arrow.left img {
					transform: rotate(-180deg);
				}
			.comments-inner--arrow.right {
				position: absolute;
				right: 5rem;
				top: 3rem;
			}
			
			.comments-inner--name {
				color: #fff;
				font-size: 16px;
				width: 100%;
				line-height: 23px;
				padding-top: 10px;
				border-top: 1px solid #fff;
				margin-bottom: 5px;
			}
			
			.comments-inner--position {
				width: 100%;
				color: rgba(255, 255, 255, .67);
				font-size: 14px;
				line-height: 23px;
			}
			
@media screen and (max-width: 1439px) {
	.comments-inner--arrow.left {
		left: 3rem;
	}
	.comments-inner--arrow.right {
		right: 3rem;
	}
}

	@media screen and (max-width: 1350px) {
		.comments-inner--arrow.left {
			left: 0.25rem;
		}
		.comments-inner--arrow.right {
			right: 0.25rem;
		}	
	}
		@media screen and (max-width: 1023px) {
			.comments-inner--arrow.left {
				top: 4rem;
			}
			.comments-inner--arrow.right {
				top: 4rem;
			}
		}
	
			@media screen and (max-width: 767px) {
				.comments-inner--item.invis {
					display: none;
				}
				.comments-inner--arrow.left {
					left: 3rem;
				}
				.comments-inner--arrow.right {
					right: 3rem;
				}
			}
			
				@media screen and (max-width: 449px) {
					.comments-inner {
						padding: 0 4.1rem;
					}
					
						.comments-inner--arrow.left {
							top: 3rem;
							left: 0rem;
						}
						.comments-inner--arrow.right {
							top: 3rem;
							right: 0rem;
						}
				}