.footer {
	padding: 0 5%;
	display: flex;
	justify-content: space-between;
	height: 5rem;
	align-items: center;
	background-color: rgba(59, 61 , 64, 1);
}	
	.footer > img {
		width: 3.5rem;
	}
	.footer > span {
		font-size: .8rem;
		color: rgba(255, 255, 255, .74);
	}



@media screen and (max-width: 767px) {
	.footer-rights {
		display: none;
	}
}	