.form_block {
    background: #f6f6f6;
    width: 100%;
    height: 100vh;
}
.form--wrapper {
    width: 30%;
    display: block;
    margin: 0 auto;
    padding-top: 15%;
    position: relative;
    z-index: 109;
}
    .form {
        background: #f9f9f9;
        width: 90%;
        padding: 50px 50px 70px;
        border: 1px solid #ddd;
        border-radius: 5px;
        position: relative;
        z-index: 99;
        margin: 0 auto;
        -webkit-box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
-moz-box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
box-shadow: 0 1px 5px rgba(0,0,0,.2), 0 2px 2px rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.12);
    }
        .form--title {
            margin-bottom: 30px;
            font-size:25px;
            line-height: 28px;
            display: block;
            text-align: center;
        }
    
        .form--field {
            width: 100%;
            margin: 0 auto 20px;
        }
        .form--field:last-child {
            margin-bottom: 0;
        }
        
            .form--field input {
                width: 100%;
                border: 1px solid #9c9c9e;
                outline: none;
                padding: 10px;
                font-size: 16px;
                text-align: center;
                border-radius: 5px;
                background: #f6f6f6;
                transition: .3s ease-out;
            }
            
            .form--field input:focus {
                background: #fff;
                color: #333;
                transition: .3s ease-in;
                border-color: #333;
            }
            
            .form--field button {
                width: 100%;
                border: 1px solid #9c9c9e;
                outline: none;
                padding: 10px;
                background: #f6f6f6;
                font-size: 16px;
                cursor: pointer;
                border-radius: 5px;
                transition: .3s ease-out;
                color: #333;
            }
            
            .form--field button:hover {
                background: #555;
                transition: .3s ease-in;
                color: #f6f6f6;
            }


    @media(max-width: 1660px) {
        .form {
            width: 100%;
        }
    }
    
        @media(max-width: 1439px) {
            .form--wrapper {
                width: 35%;
            }
        }
            @media(max-width: 1350px) {
                .form--wrapper {
                    width: 40%;
                }
            }
                @media(max-width: 1023px) {
                    .form--wrapper {
                        width: 50%;
                    }
                }
                    @media(max-width: 767px) {
                        .form--wrapper {
                            width: 80%;
                            padding-top: 35%;
                        }
                    }
                        
                        @media(max-width: 449px) {
                            .form--wrapper {
                                width: 100%;
                            }
                                .form {
                                    padding: 35px 30px 50px;
                                }
                        }