.input {
	width: 100%;
	outline: none;
	border: none;
	padding: 10px 30px;
	font-size: 16px;
	white-space: nowrap;
	display: block;
	text-align: center;
}

.admin__inp {
	padding: 15px;
	pointer-events: none;
	color: rgba(0, 0, 0, .87);
	background: transparent;
}

.active {
	pointer-events: auto;
	color: rgba(61, 156, 184, 1);
}


.form-field {
	padding: 0 2rem 20px;
	width: 300px;
}

.form-field label {
	font-size: 12px;
	color: rgba(104,105,105,1);
}

.form-field input {
	width: 100%;
	font-size: 0.8rem;
	height: 40px;
	border-bottom: 1px solid rgba(123, 123, 123, 1);
	outline: none;
	color: rgba(104,105,105,1);
}

.form-field input:focus {
	color: rgba(78, 178, 207, 1);
	border-bottom: 1px solid rgba(78, 178, 207, 1);
}
