.main {
	width: 100%;
	height: 100vh;
	background-color: rgba(195, 150, 150, 1);
	padding: 0 5%;
	padding-top: 70px;
	position: relative;
	z-index: 2;
}

	.main-inner {
		margin-top: 10%;
		z-index: 2;
	}
		.main--logo {
			display: none;
			margin-bottom: 30px;
			width: 73px;
		}

		.main--title {
			font-size: 3rem;
			font-weight: 700;
			color: rgba(255, 255, 255, 1);
		}

			.main--title span{
				font-style: italic;
				font-weight: normal;
				font-family: 'Lobster';
			}

		.main--subtitle {
			font-size: 16px;
			color: rgba(255, 255, 255, 1);
			line-height: 1.2;
			margin-top: 30px;
		}

		.main--subtitle__mobile {
			font-size: 11px;
			color: rgba(255, 255, 255, 1);
			line-height: 1.2;
			margin-top: 30px;
			display: none;
		}

		.main--callback {
			font-size: 16px;
			display: inline-block;
			color: rgba(255, 255, 255,1);
			margin-top: 30px;
			padding: 15px 30px;
			border: 2px solid #fff;
			border-radius: 30px;
			text-transform: uppercase;
			font-weight: 700;
			z-index: 2;
			cursor: pointer;
		}	

		.main--bg {
			position: absolute;
			bottom: 20px;
			right: 20px;
			width: 50%;
			z-index: 1;
		}

		.main--bg img {
			width: 100%;
		}

@media screen and (max-width: 768px) {
	.main-inner {
		text-align: center;
		margin-top: 20%;
	}
		.main--logo {
			display: inline-block;
		}

		.main--title {
			font-size: 25px;
		}

		.main--subtitle {
			display: none;
		}

		.main--callback {
			font-size: 12px;
			padding: 10px 20px;
		}

		.main--bg {
			width: 80%;
			bottom: -20px;
			left: 10%;
		}

		.main--bg{
			z-index: -1;
		}

	
	html {
		font-size: 12px;
	}	
}		

