.basket-map {
	position: fixed;
	width: 100%;
	top: 0;
	bottom: 0;
	z-index: 12;
	display: none;
	animation: modalZoom .3s ease-in-out 1 alternate;
}

.basket-map-inner {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
	text-align: center;
}

	.basket-map__close {
		position: absolute;
		top: 0;
		right: 0;
		width: 3rem;
		z-index: 2;
		background-color: rgba(0, 0, 0, .3);
		padding: .5rem;
		cursor: pointer;
	}

	.basket-map__confirm {
		position: absolute;
		z-index: 2;
		bottom: 65px;
		display: block;
		width: 200px;
		padding: 10px 0;
		left: calc(50% - 100px);
		background-color: rgba(52, 168, 83, .8);
		border-radius: 5px;
		border: none;
		text-transform: uppercase;
		color: #fff;
		font-weight: 600;
		cursor: pointer;
	}

	.basket-map__confirm--undefined {
		background-color: rgba(0, 0, 0, .3);
		bottom: 25px;
	}

	.selected-adress {
	    color: rgba(78, 178, 207, 1);
	    font-size: .8rem; 
		padding: 10px 0;
		/*border-bottom: 1px solid rgba(123, 123, 123, 1);*/
	}

@media screen and (max-width: 767px) {
	.basket-map__confirm {
		bottom: 130px;
	}
	.basket-map__confirm--undefined {
		bottom: 90px;
	}
}	