.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	width: 100%;
	z-index: 10;
	background-color: rgba(40, 41, 41, .9);
	display: none;
	animation: modalZoom .3s ease-in-out 1 alternate;
}
	.modal--close {
		width: 40px;
		position: absolute;
		right: 5%;
		top: 85px;
		cursor: pointer;
	}

	.modal-inner {
		display: block;
		position: relative;
		max-width: 500px;
		margin: 0 auto;
		color: #fff;
		margin-top: 10%;
		padding: 20px;
	}

		.modal--title {
			display: block;
			text-align: center;
			font-size: 30px;
			padding: 20px;
		}

		.modal--input,
			.modal--edit--input {
			width: 100%;
			font-size: 18px;
			padding: 10px;
			margin-bottom: 20px;
			border-radius: 4px;
			outline: none;
		}

		.modal--submit {
			display: block;
			padding: 15px 50px;
			border-radius: 5px;
			color: #fff;
			background-color: #00a0ad;
			text-transform: uppercase;
			font-size: 18px;
			margin:0 auto;
			cursor: pointer;
		}

			.modal--submit:hover {
				background-color: #06b8c6;
			}
			
		.modal--edit--img {
			width: 100%;
			padding: 20px;
		}
			.modal--edit--img img {
				width: 100%;
			}

@keyframes modalZoom{
	0% {
		transform: scale(1.5);
        -webkit-transform: scale(1.5);
	},
	100% {
		transform: scale(1.0);
        -webkit-transform: scale(1.0);
	}
}