.mybasket {
    padding: 10px;
    display: none;
    position: fixed;
    right: 30px;
    top: 100px;
    width: 200px;
    background: rgba(106, 193, 90, .87);
    z-index: 22;
    border-radius: 3px;
    cursor: pointer;
    transition: .15s ease-out;
}
.mybasket:hover {
    transition: .15s ease-in;
    background: rgba(106, 193, 90, 1);
}
    .mybasket--img {
        width: 35px;
        padding: 7px;
        position: relative;
        z-index: 1;
    }
    
        .mybasket--img img {
            width: 100%;
        }
        
    .mybasket--title {
        font-size: 14px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    
@media screen and (max-width: 767px) {
    .mybasket {
        top: inherit;
        bottom: 50px;
        left: 10px;
    }
}