.pagination--wrapper {
    width: 100%;
}

    .pagination {
        width: 50%;
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        margin: 30px auto;
    }
    
        .pagination--item {
            width: 45px;
            padding: 10px;
            text-align: center;
            align-items: center;
            cursor: pointer;
            transition: .2s ease-out;
            border-bottom: 1px solid #ddd;
            border-right: 1px solid #ddd;
            border-top: 1px solid #ddd;
            border-left: 1px solid transparent;
            color: rgba(78, 178, 207, 1);
        }
        
        .pagination--item.img {
            padding: 13px;
        }
            
        
        .pagination--item:first-child {
            border-left: 1px solid #ddd;
        }
        
        .pagination--item:hover {
            border: 1px solid rgba(78, 178, 207, 1);
            transition: .2s ease-in;
            color: rgba(78, 178, 207, 1)
        }
         
        .pagination--item.active {
            background: rgba(78, 178, 207, 1);
            color: #f6f6f6;
            border: 1px solid rgba(78, 178, 207, 1);
        }
        .pagination--item.img.disabled {
            background: #ddd;
            color: #f6f6f6;
        }
        .pagination--item.disabled:hover {
            border: 1px solid #ddd;
            cursor: not-allowed;
        }
        
            .pagination--item img {
                width: 100%;
            }
            .pagination--item.left img {
                transform: rotate(-180deg);
            }
@media(max-width: 1023px) {
    .pagination {
        width: 80%;
    }
}

    @media(max-width: 767px) {
        .pagination {
            width: 100%;
        }
    }
    
        @media(max-width: 449px) {
            .pagination--item {
                width: 36px;
                padding: 10px;
            }
            
            .pagination--item.img {
                padding: 10px;
            }
        }
        
            @media (max-width: 360px) {
                .pagination--item {
                    width: 32px;
                    padding: 9px;
                    font-size: 16px;
                }
            }