.seo-text {
    width: 100%;
    padding: 70px 5% 40px ;
    background:#5d6269;
    
}

.seo-text--title {
    color: #bdc2c6;
    font-size: 0.8rem;
    line-height: 1rem;
    margin-bottom: 30px;
}

.seo-text--subtitle {
    font-size: 0.7rem;
    color: #bdc2c6;
    line-height: 1rem;
}