.video {
	width: 100%;
	display: block;
	min-height: 100px;
	position: relative;
	background: #f1f1f1;
}
	.video--wrapper {
		width: 100%;
		margin: auto;
		position: relative;
		z-index: 4;
	}

		.video--wrapper span {
			width: 100px;
			height: 100px;
			padding: 10px;
			display: block;
			margin: 0 auto;
			opacity: .7;
			transition: .3s ease-out;
		}

		.video--wrapper .video--txt {
			font-size: 30px;
			font-weight: 100;
			width: 300px;
			text-align: center;
			/*color: #00e0d0; tajam*/
			color: #f6f6f6;
			opacity: 1;
		}
		.video--wrapper span:hover {
			opacity: 1;
			cursor: pointer;
			transition: .3s ease-in;
		}
			.video--wrapper span img {
				width: 80px;
				height: 80px;
			}

iframe {
	width: 100%;
	height: 600px;
	/*width: 100%;*/
}





@media (max-width: 1350px) {

	/*.video--wrapper {
		position: absolute;
		top: 20%;
	}*/
	iframe {
		height: 500px;
	}
}

	@media(max-width: 1023px) {
		iframe {
			height: 450px;
		}
	}

	@media (max-width: 767px) {
		.video--wrapper {
		}

			.video--wrapper .video--txt {
				width: 222px;
			}

			iframe {
				height: 400px;
			}
	}


	@media (max-width: 449px) {
		.html5-video-player a {
			display: none !important;
		}
		a.ytp-title-link.yt-uix-sessionlink {
			display: none !important; 
		}

		iframe {
			height: 300px;
		}
	}
